<h2>TODO List</h2>
<div ng-controller="TaskListController as taskList">
    <div class="row">
        <input type="checkbox" class="col-lg-1" ng-model="taskList.allCompleted" ng-change="taskList.completeAll()">
        <input type="text" class="col-lg-5" ng-model="taskList.newTask.text" ng-enter="taskList.addNewTaskToList()" placeholder="What needs to be done?"/>
    </div>

    <div class="row" ng-repeat="task in taskList.tasks">
        <input type="checkbox" class="col-lg-1" ng-model="task.completed">
        <span class="col-lg-4" ng-class="{'line-through': task.completed}" ng-dblclick="taskList.startEditing(task)">
            <span ng-hide="task.editing">{{task.text}}</span>

            <input ng-model="task.text"
                   ng-enter="taskList.doneEditing(task)"
                   ng-blur="taskList.doneEditing(task)"
                   ng-show="task.editing">
        </span>
        <button class="btn glyphicon glyphicon-remove col-lg-1" ng-click="taskList.removeTask(task)"></button>
    </div>
</div>