<div class="row">
    <input type="checkbox" class="col-lg-1" ng-model="task.completed" ng-change="taskListCtrl.updateCompleted(task)">
        <span class="col-lg-4" ng-class="{'line-through': task.completed}" ng-dblclick="taskListCtrl.startEditing(task)">
            <span ng-hide="task.editing">{{task.text}}</span>

            <input ng-model="task.text"
                   ng-enter="taskListCtrl.doneEditing(task)"
                   ng-blur="taskListCtrl.doneEditing(task)"
                   ng-show="task.editing">
        </span>
    <button class="btn glyphicon glyphicon-remove col-lg-1" ng-click="taskListCtrl.removeTask(task, taskList)"></button>
</div>
